# Application
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/mydatabase
MONGODB_DB_NAME=studentapp-backend

# JWT Authentication
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=supersecretrefreshkey
JWT_REFRESH_EXPIRES_IN=7d

# Websocket
WEBSOCKET_CORS_ORIGIN=*

# Logging
LOG_LEVEL=info
